<h1>Here is a look at your task</h1>

<h2><%= @task.name %></h2>
<p><%= @task.description %></p>
<p><%= @task.completed %></p>
<%= link_to "Back to Tasks", tasks_path %>
<!--
Should display the task's details (content, date of creation, etc.) and a back-link to the index page.
 -->
